<section class = 'recipe-description'>
  <div class="path">
    <%= link_to 'Back', recipes_path, class:"link back" %>
  </div>

 <h2 class="names"><%= @recipe.name %></h2>
  <div class="holder">
    <p class="prep">Preparation time: <%= @recipe.preparation_time %>hours</p>
    <p class="cook">Cooking time: <%= @recipe.cooking_time %>hours</p>
    <p class="steps">Cooking steps: <%= @recipe.description %></p>
   
     <% if can? :create, @food %>
        <div class='add-btn'><%= link_to 'Add Food',  new_food_path, class:"add-food" %></div>
     <% end %>
   
  </div>
</section>